/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 20px;
  font-family: ElizabethSerif;
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: left;
}
.geosuggest__input, .geosuggest__suggests {
  width: 100%;
  font-size: 20px;
  font-family: ElizabethSerif;
  border: 1px solid #ddd;
  outline: none;
  /* box-shadow: 0 0 1px #3d464d; */
  padding: 10px;
  // -webkit-transition: border 0.2s, box-shadow 0.2s;
  //         transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input {
  border-right-color: white;
}
.geosuggest__input:focus {
  // border-color: #267dc0;
  // box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 3px;
  max-height: 25em;
  padding: 0;
  margin-top: 0px;
  background: #fff;
  // border: 2px solid #267dc0;
  border-top-width: 0;
  border-bottom-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
  display: none;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 20px;
  padding: .5em .65em;
  cursor: pointer;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #eee;
}
.geosuggest-item--active {
  color: black;
  // background: #267dc0;
  background: #eee;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #eee;
}
