@import "font_smoothing";
@import 'kinja_fonts';
@import 'geosuggest';
@import 'colors';

body {
  margin: 0;
  padding: 0;
}

.blue {
  background: $blue;
  color: white;
  .header {
    color: white;
  }
}

.header {
  color: $blue;
}

.app {
  max-width: 636px;
  @include font-smoothing;
  // max-width: 800px;
}

.animated {
  background-repeat: no-repeat;
  background-size: 100% auto;
  // background-position: 0 bottom;
}

.clouds {
  background-repeat: repeat-x;
  background-size: 200%;
  animation: animatedBackground 30s linear infinite;
}

.button_container {
  background: $gray;
  padding: 0 0 50px;
  margin-top: -1px;
  // margin-top: 200px;
}


h3 {
  text-transform: uppercase;
  padding: 25px 0 10px;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: ProximaNovaCond;
  font-size: 14px;
  letter-spacing: 0.7px;
  // font-weight: normal;
  border-bottom: 1px solid $blue;
  color: $blue;
  text-align: center;
}

@keyframes animatedBackground {
  from { background-position: 0 top; }
  to { background-position: -1275px top; }
}

@keyframes animateClouds {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
