@import 'colors';

.location_form {
  display: flex;
  flex-direction: row;
  height: 47px;
  button {
    background: $blue;
    width: 50px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 48px;
    &:hover svg {
      fill: black;
    }
    svg {
      fill: white;
      height: 30px;
      margin-top: -1px;
    }
  }
}
